main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
}
#sidebar {
	display: block;
	text-align: left;
	margin: 0 1rem
}
.sidebar-section{
	margin-bottom: 2rem;
}
main h2 {
	margin: 0;
}
#fps-number, #speed-display {
	font-weight: bold;
	font-size: 1.4rem;
}
.colour-box {
	display: inline-block;
	width: 2rem;
	height: 2rem;
}

#key-boxes-section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.break {
	flex-basis: 100%;
	height: 1rem;
}
.key-box {
	width: 5rem;
	height: 5rem;
}
.funnel-key-box {
	width: 10rem;
}
button.key-box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-col);
	color: var(--fg-col) white;
	border: 0.2rem solid var(--fg-col);
	font-size: 2rem;
	transition-duration: 0ms;
}
button.key-box:hover {
	filter: none;
}
button.key-box:hover:not(.key-box-pressed) {
	background-color: dimgrey;
}
button.key-box-pressed {
	background-color: var(--fg-col);
	color: var(--bg-col)
}
.empty-box {
	border: none;
	width: 7rem;
}
#key-box-auto-mode {
	font-size: 1.4rem;
	text-transform: uppercase;
}
#key-box-auto-mode.key-box-pressed {
	background-color: orangered;
	color: var(--fg-col);
}