<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Control Interface - Clean-Sweep</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" media="screen" href="static/main.css">
	<link rel="stylesheet" type="text/css" media="screen" href="static/interface.css">

	<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
	<script src="static/js/control.js" type="module" defer></script>
	<script src="static/js/util-config.js" type="module" defer></script>
</head>
<body>
	<!-- <h1>Clean-Sweep Web Control</h1> -->
	<main>
	<img id="img-el">
	<div id="sidebar">
		<div class="sidebar-section">
			<p>FPS: <span id="fps-number"></span></p>
		</div>

		<div class="sidebar-section" id="key-boxes-section">
			<button class="key-box" id="key-box-forward">↑</button>
			<div class="break"></div>
			<button class="key-box" id="key-box-left">←</button>
			<div class="key-box empty-box"></div>
			<button class="key-box" id="key-box-right">→</button>
			<div class="break"></div>
			<button class="key-box" id="key-box-back">↓</button>
		</div>
		
		<div class="sidebar-section">
			<label for="speed-slider">Speed: <span id="speed-display"></span></label>
			<div><input type="range" id="speed-slider"></div>
		</div>
		
		<div class="sidebar-section" id="key-boxes-section">
			<button class="key-box funnel-key-box" id="key-box-close-funnel">close</button>
			<button class="key-box funnel-key-box" id="key-box-open-funnel">open</button>
			<button class="key-box funnel-key-box" id="key-box-auto-mode">auto mode</button>
		</div>
	</div>
	<div>
		<p>use WASD or arrow keys to move (only one key at a time)</p>
		<p>use E to increase speed and Q to decrease speed</p>
		<p>use the space bar to open the funnel and Shift to close the funnel</p>
	</div>
	</main>
</body>
</html>