<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>gyroscope - Clean-Sweep</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" media="screen" href="static/main.css">

	<!-- <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script> -->
	<script src="../static/js/gyro.js" defer></script>
</head>
<body>
	<h1>Clean-Sweep Gyroscope</h1>
    <main>
        <h2>Angular velocity</h2>
        <p>x: <span id="velocity-x"></span></p>
        <p>y: <span id="velocity-y"></span></p>
        <p>z: <span id="velocity-z"></span></p>
    </main>
	<button id="btn-stream">Open connection</button>
</body>
</html>