<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>index - MediRover</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" media="screen" href="static/main.css">
</head>
<body>
	<h1>MediRover index page</h1>
	<h2>Where do you want to go?</h2>
    <!-- <h2><a href="interface">Colour Adjustment Interface</a></h2> -->
    <h2><a href="control">Control (Operators' Interface)</a></h2>
    <h2><a href="stream/robot">Robot Stream (Robot Interface)</a></h2>
    <!-- <h2><a href="stream/operator">Operator Stream</a></h2> -->
</body>
</html>